#mobileheader {
    flex: 1;

}

#mobileheader header {
    text-align:center;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide img {
    color: #fff;
}

.footer{
    text-align: center;
}

.about {
    text-align: center;
}

.line-1 {
    height: 10px;
    background: #F6F6F6;
}

.line-left {
    height: 1px;
    margin-right: 20px;
}

.line-right {
    height: 1px;
    margin-left: 20px;
}

.content {
    margin-left: 10px;
    padding: 10px;
}

.popup-list .am-list-body {
    height: 210px;
    overflow: auto;
}